# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.env
.venv
env/

# Base de datos
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo

# Frontend
node_modules/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Docker
docker-compose.override.yml
